<html>
    <head>
        <title>Миль Кирилл</title>
    </head>

    <body>
        <img src="https://hhcdn.ru/photo/594884880.jpeg?t=1601473970&h=tgeiNs9g81z0zV-iE7wwMg" weight="130px" height="130px">
        <h1><a href="https://t.me/kiri11_mi1">Миль Кирилл</a></h1>
        <h3>Junior Pyhton Developer</h3>
        <h3>25000₽ / мес</h3>
        <h1>Проекты:</h1>
            {% for project in projects %}
                <div class="list">
                    <a href="{{ project['link'] }}">{{ project['title'] }}</a>
                    <p>{{ project['description'] }}</p>
                    <p>{{ project['language'] }}</p>
                <div>
            {% endfor %}
    </body>
</html>