<html>
    <head>
        <title>Миль Кирилл</title>
    </head>

    <body>

        <div class="about_me">
            <img src="https://avatars3.githubusercontent.com/u/47475094?s=400&u=3c51323d759be786f5f7bd291b40fe373e410c5a&v=4" weight="130px" height="130px">
            <h1><a href="https://t.me/kiri11_mi1">Миль Кирилл</a></h1>
            <h3>Junior Pyhton Developer</h3>
            <h3>25000₽ / мес</h3>
        </div>

        <div class="projects">
            <h1>Проекты:</h1>
                {% for project in projects %}
                    <div class="list">
                        <a href="{{ project['link'] }}">{{ project['title'] }}</a>
                        <p>{{ project['description'] }}</p>
                        <p>{{ project['language'] }}</p>
                    <div>
                {% endfor %}
        </div>

        <div class="contacts">

        </div>

        <div class="skills">

        </div>

        <div class="education">

        </div>

        <div class="sertificates">
            
        </div>

    </body>
</html>